* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    background-color: #2a2727;
    flex-direction: column;
    height: 100vh;
    border: 1px solid #ed1f26;
}

div {
    margin: 0 auto;
}

.title {
    margin: 2rem auto;
}

#marvel {
    padding: 1rem 2rem;
    font-size: 3rem;
    font-weight: 900;
    background-color: #ed1f26;
    color: white;
}

#searchInput {
    border: 0;
    background-color: #ffffff;
    height: 3rem;
    font-size: 1.6rem;
    border-radius: 25px;
    padding: .3rem .8rem;
    outline: 2px solid #ed1f26;
    width: 30rem;
}

.search-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.button {
    background-color: rgb(255, 60, 60);
    color: white;
    border: none;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.button:hover {
    background-color: rgb(220, 40, 40);
    transform: scale(1.05);
}


.buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
}

.card {
    border: 2px solid #ed1f26;
    display: none;
    flex-direction: column;
    max-width: 20rem;
    padding: 1rem;
    gap: .3rem;
    text-align: center;
    background-color: white;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.card h1 {
    color: #ed1f26;
    font-size: 1.5rem;
}
.card h2 {
    color: #a1a1a1;
    font-size: 1.2rem;
}

.card h3 {
    font-size: .9rem;
}